<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Signin Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
        <a class="navbar-brand" href="#">User Page</a>

            

        <form action="/logout" method="POST" class="form-inline my-2 my-lg-0">
            <input class="form-control bg-transparent border border-success text-success" type="submit" value="Log out">
        </form>
    
    </nav>
    <h2>WELCOME Users</h2>

            </tbody>
        </table>
    </div>
</body>
</html>